/* GENERALES */

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.3rem;
}

h3{
    font-size: 1rem;
}

p {
    font-size: .8rem;
}

/* SECCION 1 NICO */
header {
    display: flex;
    flex-direction: column;  
}

.contenedor_nav {
    background-color: #69ff4be1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.contenedor_nav a{
    text-decoration: none;
    list-style-type: none;
    padding: 0 10px;
    color: black;

}
.tittle {
    text-align: center; 
    padding: 5px; 
    margin: 100px 100px 50vh 100px;
}

/* SECCION 1 NICO */

/* SECCION 2 EFREN */

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url('/images/curve.png'); 
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif;
}
  
.caja {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    margin: 20px; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
  
.imagen-cont {
    margin-bottom: 10px;
    text-align: center; 
}
  
.imagen {
    width: 200px; 
    height: auto;
}
  
.texto {
    text-align: center; 
}
  
.boton {
    padding: 10px 200px;
    background-color: #69ff4be1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
/* SECCION 2 EFREN */

/* SECCION 3 ISMA */
.container {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Espacio incluso entre elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .h {
    display: flex; /* Agregamos flex para que los elementos internos se alineen horizontalmente */
    align-items: center; /* Centra verticalmente los elementos internos */
    flex-direction: column; /* Aplicamos columna para alinear el texto debajo de la imagen */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .t1, .t2 {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
  }
  
.t1 p {
    font-weight: bold;
}
/* SECCION 3 ISMA */

/* SECCION 4 BENJA*/

.subtittle{
    text-align: center;
    padding: 50 px 100 px 100px 100px;
    border-top: 1px solid rgba(223, 223, 223, 0.63);
}

.container{
    display: flex;
    padding: 20px;
    column-gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 19px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 19px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 19px 1px rgba(0,0,0,0.75);
    
}

.card_description{
    padding: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin-top: 100px;
    background-color: rgb(53, 53, 53);
    color: white;
}

/* SECCION 4 BENJA*/